.top-section{
    display: flex;
    padding-top: 22px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: #F4B9B8;
  }
  
  .title{
    font-size: x-large;
    color: white;
    font-style: oblique;
    text-decoration: overline;
  }
  

  .userHidden-button{
    margin-left: 5px;
  }