.product-page {
    display:list-item;
}

.title-page{
    font-size: x-large;
    color: white;
    font-style: oblique;
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 32px;
    margin-bottom: 2px;
    background-color: #F4B9B8;
}

.product-info{
    align-items: flex-start;
}


.product-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}